
<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>
<h1>FAQ's</h1>
<ul class="catalog">
<% @posts.each do |post| %>
<li>

<h2><%= post.title %></h2>
<p>
<%= sanitize(post.body) %>
</p>
<div class="tags">
<%= post.tags %>
</div>
</li>

</ul>
<table>
<tr><td><h4>Comments</h4></td></tr>
      <% post.comments.each do |c|%>
        <tr><td><%= c.comment %>&nbsp;&nbsp;By: <%= c.user.name %></td></tr>
      <% end %>
      </tr>
      </table>
<% end %>
